# The users set below will be the default owners for everything in the repo and will be notified always.
* @agigleux @andrea-guarino-sonarsource @guillaume-dequenne-sonarsource

# The whole team will just be notified if the repository ownership is requested for change.
.github/CODEOWNERS @sonarsource/languages-team-phpy
