{% extends "base.html" %}

{% block content %}
    <div class="text-center margin-mobile my-4 mx-auto">
        <h1>Pokedex</h1>
    </div>
    <div class="container d-flex flex-row flex-wrap justify-content-start align-items-center text-center mt-3">
        {% for i in range(pokemon | length) %}
            <div class="col-6 col-md-4 col-lg-3 p-2">
                <img alt="" src="{{ pokemon[i].image_url}}" />
                <div><a href="{{ url_for("get_pokemon", pokemon_id=pokemon[i].id) }}" class="pk-li p-3">{{ pokemon[i].pokemon_name }} #{{ i + 1 }}</a></div>
            </div>
        {% endfor %}
    </div>
    <footer class="bg-dark text-center text-white">
        <div class="container p-4">
            <section class="">
                <form action="{{ url_for('subscribe') }}" method="post">
                    <div class="row d-flex justify-content-center">
                        <div class="col-auto">
                            <p class="pt-2">
                                <strong>Subscribe to our Pokemon newsletter</strong>
                            </p>
                        </div>
                        <div class="col-md-5 col-12">
                            <div class="form-outline form-white mb-4">
                                <input type="email" class="form-control" id="input_email" name = "email" aria-describedby="emailHelp">
                                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-outline-light mb-4">
                                Subscribe
                            </button>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </footer>
{% endblock %}
