{% extends "base.html" %}
{% block styles %}
    {{ super() }}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/style.css') }}">
{% endblock %}
{% block content %}
    <div class="text-center margin-mobile my-4 mx-auto">
        <h1>Pokedex</h1>
    </div>
    <div class="container d-flex flex-row flex-wrap justify-content-start align-items-center text-center mt-3">
        {% for i in range(pokemon | length) %}
            <div class="col-6 col-md-4 col-lg-3 p-2">
                <img alt="" src="{{ pokemon[i].image_url}}" />
                <div>{{ pokemon[i].pokemon_name }} #{{ i + 1 }}</div>
            </div>
        {% endfor %}
    </div>
    <form action="{{ url_for('subscribe') }}" method="post">
      <div class="col-6 col-md-4 col-lg-3 p-2">
        <label for="input_email" class="form-label">Subscribe to our Pokemon newsletter</label>
        <input type="email" class="form-control" id="input_email" name = "email" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}
